{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <h2 class="mt-5">Weekly Recipes</h2>
            <div class="row">
                {% for recipe in weeklyRecipes %}
                    <div class="col col-md-4">
                        <div class="container p-3 text-center">
                            <a href="/viewRecipe/{{recipe.id}}" class="mt-2"> {{ recipe.name }}</a>
                            <p class="mt-2"><strong>{{recipe.description}}</strong></p>
                        </div>
                        <a href="/removeRecipeWeekly/{{recipe.id}}" class="btn btn-outline-danger btn-sm mt-2">Remove from List</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h2 class="mt-5">Other Recipes</h2>
            <div class="row">
                {% for recipe in recipes %}
                <div class="col col-md-4">
                    <div class="container p-3 text-center">
                        <a href="/viewRecipe/{{recipe.id}}" class="mt-2"> {{ recipe.name }}</a>
                        <p class="mt-2"><strong>{{recipe.description}}</strong></p>
                    </div>
                    <a href="/addRecipeWeekly/{{recipe.id}}" class="btn btn-outline-info btn-sm mt-2">Add to List</a>
                    <a href="/removeRecipe/{{recipe.id}}" class="btn btn-outline-danger btn-sm mt-2">Delete Recipe</a>
                </div>
                {% endfor %}
                <div class="text-left">
                    <a href="{{ path('app_viewAddRecipe') }}" class="btn btn-primary mt-5" style="margin-left:0;">Create Recipe</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
