{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ recipe.name }}</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ recipe.description }}</p>
                        <div class="row">
                            {% for ingredient in recipe.ingredients %}
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ ingredient.ingredient.name }}</h5>
                                            <p class="card-text">{{ ingredient.amount }} {{ ingredient.ingredient.unit }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
